BEGIN TRANSACTION;

CREATE TABLE IF NOT EXISTS "__EFMigrationsLock" (
    "Id" INT NOT NULL PRIMARY KEY,
    "Timestamp" VARCHAR(255) NOT NULL
);

CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" VARCHAR(255) NOT NULL PRIMARY KEY,
    "ProductVersion" VARCHAR(255) NOT NULL
);

INSERT INTO __EFMigrationsHistory VALUES('20250324140441_InitialCreate','9.0.3');
INSERT INTO __EFMigrationsHistory VALUES('20250414105259_FixProfiles','9.0.3');
-- pozostałe INSERTy...

CREATE TABLE IF NOT EXISTS "Profiles" (
    "Id" INT NOT NULL PRIMARY KEY IDENTITY(1,1),
    "Name" VARCHAR(255) NOT NULL
);

INSERT INTO Profiles VALUES(11, 'hehe');
INSERT INTO Profiles VALUES(12, 'default');
INSERT INTO Profiles VALUES(13, 'bebe');

CREATE TABLE IF NOT EXISTS "Videos" (
    "Id" INT NOT NULL PRIMARY KEY IDENTITY(1,1),
    "ChannelId" VARCHAR(255) NOT NULL,
    "IsFavorite" BIT NOT NULL,
    "ProfileId" INT NOT NULL,
    "PublishedAt" VARCHAR(255) NOT NULL,
    "Title" VARCHAR(255) NOT NULL,
    "VideoId" VARCHAR(255) NOT NULL,
    CONSTRAINT "FK_Videos_Profiles_ProfileId" FOREIGN KEY ("ProfileId") REFERENCES "Profiles" ("Id") ON DELETE CASCADE
);

INSERT INTO Videos VALUES(19, 'UCErO0yKbe8UUgryQ4KUJWVw', 1, 11, '2024-09-14 12:26:32', 'COS AW24 | Look 41, New York Fashion Week', 'e6uQeKYa_MY');
INSERT INTO Videos VALUES(20, 'UCYWrFKvV9FwgUxTURL6fiZw', 1, 12, '2025-04-04 16:39:38', 'COS Spring/Summer 2025 | Fashion Show in Athens', 'm3GySWkqmr8');
INSERT INTO Videos VALUES(21,'UCVeuchT74PZ8A8FD08qu6bg',1,12,'2020-10-11 15:03:12','Dsadsa','ite3hswdE7A');
INSERT INTO sqlite_sequence VALUES('Videos',24);
INSERT INTO sqlite_sequence VALUES('Profiles',13);

CREATE INDEX IX_Videos_ProfileId ON Videos (ProfileId);

COMMIT;
